<launch>
    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/> -->
    <param name="use_sim_time" value="false" type="bool"/>

    <node pkg="ndt_mapping" type="fast_ndt_mapping_node" name="fast_ndt_mapping_node" output="screen">
        <rosparam file="$(find ndt_mapping)/params/params_ndt_mapping.yaml" command="load"/>

        <!--生成用于制作costmap的点云地图-->
        <!-- <param name="cost_map_folder" type="string" value="TODO" /> -->

        <!-- piece_map 相关参数: piece map 需要开启fullmap -->
        <!--<param name="if_create_piece_map" type="bool" value="false" />
        <param name="piece_map_folder" type="string" value="TODO" />
        <param name="piece_step" type="double" value="30.0" />-->
    </node>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!-- resolution in meters per pixel -->
        <param name="resolution" value="0.1" />

        <!-- name of the fixed frame -->
        <param name="frame_id" type="string" value="/map" />

        <!-- max range / depth resolution of the kinect in meter -->
        <param name="sensor_model/max_range" value="1000.0" />
        <param name="latch" value="true" />

        <!-- max/min height for occupancy map, should be in meters -->
        <param name="pointcloud_max_z" value="1000" />
        <param name="pointcloud_min_z" value="-1000" />

        <!-- topic from where pointcloud2 messages are subscribed -->
        <remap from="cloud_in" to="/global_map/costmap_cloud" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0.5 0 0.3 0 0 0 1  base_link velodyne 100" />
    <node pkg="rviz" type="rviz" name="Rviz_for_mapping" args="-d $(find ndt_mapping)/rviz/mapping.rviz" />
</launch>


<!--  rosbag record -o out /globalmap/map_full   -->

<!--  rosrun pcl_ros bag_to_pcd out /globalmap/map_full   pcd  -->