<?xml version="1.0"?>    
<launch>    
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/velodyne_points"/>
        <remap from="scan" to="/scan1"/>
        <!-- topic `scan` was published by the driver of velodyne -->
        <rosparam>
            target_frame: base_link
            transform_tolerance: 0.01
            min_height: -0.3
            max_height: 0.1

            angle_min: -3.1415926 # -M_PI
            angle_max: 3.1415926 # M_PI
            angle_increment: 0.003
            scan_time: 0.1
            range_min: 0.05
            range_max: 100
            use_inf: true
            inf_epsilon: 1.0

            concurrency_level: 1
        </rosparam>
    </node>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="d435_to_laserscan">
        <remap from="cloud_in" to="/camera/depth/color/points"/>
        <remap from="scan" to="/scan2"/>
        <!-- topic `scan` was published by the driver of velodyne -->
        <rosparam>
            target_frame: base_link
            transform_tolerance: 0.01
            min_height: -0.3
            max_height: 0.1

            angle_min: -0.35
            angle_max: 0.35
            angle_increment: 0.008
            scan_time: 0.2
            range_min: 0.05
            range_max: 2
            use_inf: true
            inf_epsilon: 1.0

            concurrency_level: 1
        </rosparam>
    </node>
</launch>