<launch>
  <!-- 绝影型号 MINI/JYL/LITE -->
  <arg name="robot_type" default="MINI" />
  <!-- 雷达型号 rslidar(默认)/velodyne -->
  <arg name="lidar_type" default="rslidar" />
  <!-- 开启定位 false(默认定位程序与导航程序单独开启)/true(采用导航自带的定位程序) -->
  <arg name="enable_lidar_localization" default="false" />
  <!-- 开启RViz true(默认)/false -->
  <arg name="enable_rviz" default="true" />
  <!-- 点云/占据栅格地图名称 map(默认) -->
  <arg name="map_id" default="map" />
  

  <group if="$(arg enable_lidar_localization)">
    <!-- LIDAR -->
    <group if="$(eval arg('lidar_type') == 'velodyne')">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="device_ip" value="192.168.1.201" />
      </include>
    </group>
    <group if="$(eval arg('lidar_type') == 'rslidar')">
      <include file="$(find rslidar_pointcloud)/launch/rs_lidar_16.launch">
        <arg name="device_ip" value="192.168.1.201" />
      </include>
    </group>
    <!-- 全局定位 -->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch">
      <arg name="map_id" value="$(arg map_id)" />
      <arg name="lidar_type" value="$(arg lidar_type)" />
    </include>
    <!-- 全局地图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find nav)/map/$(arg map_id).yaml"/>
  </group>

  <!-- 运动驱动 -->
  <include file="$(find message_transformer_cpp)/launch/message_transformer_cpp.launch"/>


  <!-- MINI 参数 -->
  <group if="$(eval arg('robot_type') == 'MINI')">
    <!-- TF 参数 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_lidar_tf" args="0.243 0 0.098 0 0 0 base_link $(arg lidar_type)" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf"  args="0.309 0 0.033 0 0.36 0 base_link camera_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_body_tf"    args="0.243 0 0.13 -1.5708 0 0 base_link body" />
    <!-- URDF -->
    <group if="$(arg enable_rviz)">
      <param name="robot_description" textfile="$(find mini)/urdf/mini.urdf" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    </group>
  </group>
  <!-- JYL 参数 -->
  <group if="$(eval arg('robot_type') == 'JYL')">
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_lidar_tf" args="0.327 0 0.075 0 0 0 base_link $(arg lidar_type)" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf" args="0.372 0 -0.018 0 0.4 0 base_link camera_link" />
  </group>
  <!-- LITE 参数 -->
  <group if="$(eval arg('robot_type') == 'LITE')">
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_lidar_tf" args="0.175 0 0.102 0 0 0 base_link $(arg lidar_type)" />
  </group>

  <!-- 导航 -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- 导航参数 -->
    <rosparam file="$(find nav)/config/costmap_common_params_$(arg robot_type).yaml" command="load" ns="global_costmap" />
    <param name="global_costmap/stvl_obstacle_layer/observation_sources" value="lidar_mark lidar_clear"/>
    <param name="global_costmap/stvl_obstacle_layer/lidar_mark/topic" value="$(arg lidar_type)_points"/>
    <param name="global_costmap/stvl_obstacle_layer/lidar_clear/topic" value="$(arg lidar_type)_points"/>
    <rosparam file="$(find nav)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find nav)/config/costmap_common_params_$(arg robot_type).yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/stvl_obstacle_layer/observation_sources" value="lidar_mark lidar_clear"/>
    <param name="local_costmap/stvl_obstacle_layer/lidar_mark/topic" value="$(arg lidar_type)_points"/>
    <param name="local_costmap/stvl_obstacle_layer/lidar_clear/topic" value="$(arg lidar_type)_points"/>
    <rosparam file="$(find nav)/config/local_costmap_params.yaml" command="load" />
    <!-- 路径搜索 -->
    <rosparam file="$(find nav)/config/global_planner_params.yaml" command="load" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="5" />
    <param name="planner_patience" value ="60" />
    <!-- 轨迹优化 -->
    <rosparam file="$(find nav)/config/teb_local_planner_params_$(arg robot_type).yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10" />
    <param name="controller_patience" value ="60" />
    <!-- 异常处理 -->
    <param name="recovery_behavior_enabled" value="false" />
  </node>

  <!-- RViz -->
  <group if="$(arg enable_rviz)">
    <node name="navigation_rviz" pkg="rviz" type="rviz" args=" -d $(find nav)/rviz/nav.rviz" />
  </group>
</launch>