<launch>
  <arg name="robot_type" default="MINI" />
  <arg name="if_real_test" default="true" />
  <arg name="map_and_mprim_id" default="wrc" />


  <!-- 驱动 -->
  <group if="$(arg if_real_test)">
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <include file="$(find message_transformer_cpp)/launch/message_transformer_cpp.launch"/>
  </group>

  <!-- 定位 -->
  <include file="$(find ndt_localization)/launch/ndt_localization.launch">
    <arg name="map_id" value="$(arg map_and_mprim_id)" />
  </include>

  <!-- MINI 参数 -->
  <group if="$(eval arg('robot_type') == 'MINI')">
    <!-- TF 参数 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_laser_tf_broadcaster" args="0.243 0 0.058 0 0 0 base_link velodyne" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf_broadcaster" args="0.309 0 -0.120 0 0.36 0 base_link camera_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_body_tf_broadcaster" args="0.243 0 0.058 -1.57 0 0 base_link body" />
    <!-- URDF -->
    <param name="robot_description" textfile="$(find mini)/urdf/mini.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- 导航 -->
    <arg name="mprim_id" value="$(arg map_and_mprim_id)" />
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- 代价地图 -->
      <rosparam file="$(find nav)/config/costmap_common_params_mini.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find nav)/config/costmap_common_params_mini.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find nav)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find nav)/config/global_costmap_params.yaml" command="load" />
      <!-- 轨迹规划 -->
      <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/sbpl_global_params.yaml" command="load" />
      <param name="base_global_planner" value="SBPLLatticePlanner" />
      <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/matlab/mprim/$(arg mprim_id).mprim" />
      <param name="planner_frequency" value="0" />
      <param name="planner_patience" value="10.0" />
      <!-- 轨迹控制 -->
      <rosparam file="$(find nav)/config/teb_local_planner_params_mini.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="15.0" />
      <!-- 异常处理 -->
      <param name="recovery_behavior_enabled" value="false" />
    </node>
  </group>


  <!-- JYL 参数 -->
  <group if="$(eval arg('robot_type') == 'JYL')">
    <!-- TF 参数 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_velodyne_tf_broadcaster" args="0.327 0 0.075 0 0 0 base_link velodyne" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf_broadcaster" args="0.372 0 -0.018 0 0.4 0 base_link camera_link" />
    <!-- URDF -->
    <!-- 导航 -->
    <arg name="mprim_id" value="$(arg map_and_mprim_id)" />
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- 代价地图 -->
      <rosparam file="$(find nav)/config/costmap_common_params_jyl.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find nav)/config/costmap_common_params_jyl.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find nav)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find nav)/config/global_costmap_params.yaml" command="load" />
      <!-- 轨迹规划 -->
      <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/sbpl_global_params.yaml" command="load" />
      <param name="base_global_planner" value="SBPLLatticePlanner" />
      <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/matlab/mprim/$(arg mprim_id).mprim" />
      <param name="planner_frequency" value="0" />
      <param name="planner_patience" value="10.0" />
      <!-- 轨迹控制 -->
      <rosparam file="$(find nav)/config/teb_local_planner_params_jyl.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="10.0" />
      <param name="controller_patience" value="10.0" />
      <!-- 异常处理 -->
      <param name="recovery_behavior_enabled" value="false" />
    </node>
  </group>

  <!-- RViz -->
  <node name="navigation_rviz" pkg="rviz" type="rviz" args=" -d $(find nav)/rviz/nav.rviz" />
</launch>