<launch>
  <arg name="map_and_mprim_id" default="new430" />

    <!-- 激光、感知、通信 -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
    <include file="$(find ros2qnx)/launch/ros2qnx.launch"/>
    <node name="qnx2ros" pkg="qnx2ros" type="qnx2ros" output="screen"></node>

    <!-- 激光 NDT 定位 -->
    <include file="$(find ndt_localization)/launch/ndt_localization.launch">
      <arg name="map_id" value="$(arg map_and_mprim_id)" />
    </include>

    <!-- ROS 导航包 -->
    <arg name="mprim_id" value="$(arg map_and_mprim_id)" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find nav_teb)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find nav_teb)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find nav_teb)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find nav_teb)/config/global_costmap_params.yaml" command="load" />

      <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/sbpl_global_params.yaml" command="load" />
      <param name="base_global_planner" value="SBPLLatticePlanner" />
      <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/matlab/mprim/$(arg mprim_id).mprim" />
      <param name="planner_frequency" value="0" />
      <param name="planner_patience" value="10.0" />

      <rosparam file="$(find nav_teb)/config/teb_local_planner_params.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="15.0" />

      <param name="recovery_behavior_enabled" value="false" />
    </node>

    <node name="navigation_rviz" pkg="rviz" type="rviz" args=" -d $(find nav_teb)/rviz/nav_teb.rviz" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_velodyne_tf_broadcaster" args="0.45 0 0.15 0 0 0 base_link velodyne" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_velodyne_tf_broadcaster" args="0.41 0 0.15 0 0 0 base_link velodyne" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_velodyne_tf_broadcaster" args="-0.243 0 -0.058 0 0 0 velodyne base_link" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf_broadcaster" args="0.5 0.01 0 0 -0.4 0 base_link camera_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf_broadcaster" args="0.309 0 0.02 0 0.4 0 base_link camera_link" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_body_tf_broadcaster" args="0.243 0 0.058 -1.57 0 0 base_link body" />
    <param name="robot_description"  textfile="$(find mini)/urdf/mini.urdf" />
    <node  name="jointpublish"  pkg="robot_control"  type="jointpublish" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
